table {
  width: 100%;
}

.mat-elevation-z8 {
  text-align:center;
}
.mat-form-field{
  margin:20px 10px 0;
}

@media only screen and (max-width: 767px) {
  .table-container{
      width:100%;
      overflow:scroll;
  }
  .table-container table{
      min-width:600px;
  }
}
